@using System;
@using System.Collections.Generic;
@using System.Linq;
@{
    ViewData["Title"] = "Home Page";
    var landscapeImages = Enumerable.Range(1, 7).Select(i => $"/images/landscape/image{i}.jpg");
    var portraitImages = Enumerable.Range(1, 7).Select(i => $"/images/portrait/image{i}.jpg");

    var images = landscapeImages.Zip(portraitImages, (x, y) => new {landscape=x, portrait=y}).ToList();
}

@section Styles {
    <link href='@Url.Content("~/css/landing.css")' rel="stylesheet" type="text/css"/>
}

<div id="carousel-overlay-div" class="row w-100 h-100">
    <div class="col flex-column d-flex carousel-overlay h-100">

        <div class="row align-items-center mx-md-4 shinny-height">
            <div class="col">
                <div class="row">
                    <p class="no-select white-text banner-text text-lg-left text-center col orbitron-font">
                        Rent your special equipment anywhere
                    </p>
                </div>
            
                <div class="row">
                    <p class="no-select white-text banner-text text-lg-left text-center col orbitron-font">
                    Pay low and Travel light</p>
                </div>

                <div class="row">
                    <p class="no-select white-text banner-text text-lg-left text-center col orbitron-font">
                    Have Fun</p>
                </div>
            </div>
        </div>

        <div class="row align-items-md-center h-100 mx-sm-5 mobile-margin">

            <div class="col-lg-6 col-md-7 col-xs-12 d-flex align-items-start">
                <div class="row flex-fill d-flex">
                    <div class="card col-lg-9 rounded-corners" style="background-color: rgba(133, 133, 133, 0.75); ">
                        <div class="card-body">
                            <div class="card-text">
                                <div class="row justify-content-center">
                                    <img src="~/images/logo.svg" style="width: 170px; height: 120px;" class="img-fluid" alt="Share It"/>

                                    <p class="no-select black-text text-center logo-text">
                                        <span class="line">Everyone can <em>Share It,</em></span>
                                        <span class="line">anyone can rent it.</span>

                                        <br>Welcome to the Airbnb of clothing and athletic equipment.
                                    </p>
                                </div>

                                <div class="row" style="height: 1em;"></div>
                                <div class="row d-none d-md-block" style="height: 1em;"></div>

                                <div class="row justify-content-center">
                                    <p class="col-xs-12 no-select black-text text-center dev-text"> <!-- TODO: Remove span if not needed-->
                                    Our services are still under development.<br/><span>Subscribe and get notified when we are ready.</span></p>
                                </div>

                                <div class="row justify-content-center">
                                    <form method="POST" asp-action="Subscribe" asp-controller="Home" class="w-100">
                                        <div class="col">
                                            <div class="row">
                                                <div class="form-group col">
                                                    <input name="email" type="email" class="action-text form-control d-none d-sm-block" placeholder="email@example.com">
                                                    <input name="email" type="email" class="action-text form-control d-sm-none form-control-sm" placeholder="email@example.com">
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col">
                                                    <input type="submit" style="padding: 2px 0px;" class="btn btn-success action-text w-100 btn-ecrou" value="Get Notified"/>
                                                </div>
                                            </div>
                                        </div>
                                    </form>     
                                </div>
                            </div>
                        </div>  
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-5 col-xs-12 d-flex align-items-baseline">
                <div class="col">
                <div class="row"> <!-- TODO: Check these breakings -->
                    <div class="about-text-bg"></div>
                        <div class="about-text-wrapper">
                            <p class="no-select text-center about-text">
                                <!-- <span class="line"><em>Share It</em>’s mission is to connect individuals</span>
                                <span class="line">who want to rent athletic equipment and clothes at low prices</span>
                                <span class="line">with others who want to profit from their unused items.</span> -->

                                <span><em>Share It</em>’s mission is to connect individuals</span>
                                <span>who want to rent athletic equipment and clothes at low prices</span>
                                <span>with others who want to profit from their unused items.</span>
                            </p>
                        </div>
                </div>
                
            </div>
        </div>
    </div>
</div>

<!-- Carousel -->
<div class="row flex-fill d-flex h-100" style="overflow: hidden; margin-right:0">
    <div id="myCarousel" class="carousel slide lazy w-100" data-ride="carousel" data-pause="false" data-interval="3000" >
        <div class="carousel-inner w-100 h-100" >

            <!-- Async images -->
            <!-- <div class="carousel-item h-100 active"><img class="d-block w-100 h-100" src="/images/landscape/image1.jpg"></div>
            <div class="carousel-item h-100"><img class="d-block w-100 h-100" data-src="/images/landscape/image2.jpg"></div>
            <div class="carousel-item h-100"><img class="d-block w-100 h-100" data-src="/images/landscape/image3.jpg"></div>
            <div class="carousel-item h-100"><img class="d-block w-100 h-100" data-src="/images/landscape/image4.jpg"></div>
            <div class="carousel-item h-100"><img class="d-block w-100 h-100" data-src="/images/landscape/image5.jpg"></div>
            <div class="carousel-item h-100"><img class="d-block w-100 h-100" data-src="/images/landscape/image6.jpg"></div>
            <div class="carousel-item h-100"><img class="d-block w-100 h-100" data-src="/images/landscape/image7.jpg"></div> -->

            <!-- Responsive images but they are all loaded to find best match -->
            <!-- <div class="carousel-item h-100 active"><img class="d-block w-100 h-100" srcset="/images/landscape/image1.jpg 1600w, /images/portrait/image1.jpg 800w" src="/images/landscape/image1.jpg"></div> -->
            <!-- <div class="carousel-item h-100"><img class="d-block w-100 h-100" srcset="" src="/images/landscape/image2.jpg"></div>
            <div class="carousel-item h-100"><img class="d-block w-100 h-100" srcset="" src="/images/landscape/image3.jpg"></div>
            <div class="carousel-item h-100"><img class="d-block w-100 h-100" srcset="" src="/images/landscape/image4.jpg"></div>
            <div class="carousel-item h-100"><img class="d-block w-100 h-100" srcset="" src="/images/landscape/image5.jpg"></div>
            <div class="carousel-item h-100"><img class="d-block w-100 h-100" srcset="" src="/images/landscape/image6.jpg"></div>
            <div class="carousel-item h-100"><img class="d-block w-100 h-100" srcset="" src="/images/landscape/image7.jpg"></div> -->

            @foreach(var dir in images)
            {
                <div class='carousel-item h-100 @(dir == images[0] ? "active" : "" )'>
                    <picture>
                        <source media="(min-width: 768px)" srcset=@dir.landscape>
                        <source srcset=@dir.portrait>
                        <img class="d-block w-100 h-100" src=@dir.landscape>
                    </picture>
                </div>
            }

        </div>
    </div>
</div>