@{
    ViewData["Title"] = "Home Page";
}

@section Styles {
    <link href='@Url.Content("~/css/landing.css")' rel="stylesheet" type="text/css"/>
}

<div id="carousel-overlay-div" class="row w-100 h-100">
    <div class="container flex-column d-flex carousel-overlay h-100">

        <div class="row" style="margin-top:66px;"></div>

        <div class="row align-items-center h-50 mx-md-4">
            <div class="col">
                <div class="row">
                    <p class="no-select white-text shinny-text text-md-left text-center col">
                        Rent your special equipment anywhere
                    </p>
                </div>
            
                <div class="row">
                    <p class="no-select white-text shinny-text text-md-left text-center col">
                    Pay low and Travel light</p>
                </div>

                <div class="row">
                    <p class="no-select white-text shinny-text text-md-left text-center col">
                    Have Fun</p>
                </div>
            </div>
        </div>

        <div class="row align-items-center h-100 mx-sm-5 mobile-margin">
            <div class="col">
                <div class="row flex-fill d-flex">
                    <div class="card col-md-7 small-text rounded-corners" style="background-color: rgba(133, 133, 133, 0.75);">
                        <div class="card-body">
                            <div class="card-text">
                                <div class="row justify-content-center">
                                    <p class="no-select black-text text-center moderate-text">
                                    Everyone can <em>Share It</em>, anyone can rent it.<br>Welcome to the Airbnb of clothing and athletic equipment.</p>
                                </div>

                                <div class="row" style="height: 1em;"></div>
                                <div class="row" style="height: 1em;"></div>

                                <div class="row justify-content-center" style="margin-bottom: -1vmax">
                                    <p class="no-select black-text">
                                    Our services are still under development.</p>
                                </div>

                                <div class="row justify-content-center">
                                    <p class="no-select black-text">
                                    Subscribe and get notified when we are ready.</p>
                                </div>

                                <div class="row justify-content-center">
                                    <form method="POST" asp-action="Subscribe" asp-controller="Home" class="w-100">
                                        <div class="col">
                                            <div class="row">
                                                <div class="form-group col">
                                                    <input name="email" type="email" class="small-text form-control d-none d-sm-block" placeholder="email@example.com">
                                                    <input name="email" type="email" class="small-text form-control d-sm-none form-control-sm" placeholder="email@example.com">
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col">
                                                    <input type="submit" style="padding: 2px 0px;" class="btn btn-success small-text w-100" value="Get Notified"/>
                                                </div>
                                            </div>
                                        </div>
                                    </form>     
                                </div>   

                                <div class="row" style="height: 1em;"></div>                                              
                            </div>
                        </div>  
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Carousel -->
<div class="row flex-fill d-flex" style="overflow: hidden;">
    <div id="myCarousel" class="carousel slide w-100" data-ride="carousel" data-pause="false" data-interval="3000" >
        <div class="carousel-inner w-100 h-100" >
            <div class="carousel-item h-100 active"><img class="d-block w-100 h-100" src="~/images/jet_ski.jpg"></div>
            <div class="carousel-item h-100"><img class="d-block w-100 h-100" src="~/images/parachute_1.jpg"></div>
            <div class="carousel-item h-100"><img class="d-block w-100 h-100" src="~/images/parachute_2.jpg"></div>
            <div class="carousel-item h-100"><img class="d-block w-100 h-100" src="~/images/parachute_3.jpg"></div>
            <div class="carousel-item h-100"><img class="d-block w-100 h-100" src="~/images/ski_1.jpg"></div>
            <div class="carousel-item h-100"><img class="d-block w-100 h-100" src="~/images/ski_2.jpg"></div>
        </div>
    </div>
</div>