html, body {
    height:100%;
}

.carousel-caption {
    z-index: 10;
}

.carousel .item {
    background-color: #777;
}

#carousel-overlay-div {
    position: absolute;
}

#carousel-overlay-div > .carousel-overlay {
    position: absolute;
    /* left:4%; */
    z-index:1;
}

.white-text {
    color: white;
}

.black-text {
    color: black;
}

.rounded-corners {
    border-radius: 20px 20px 5px 5px;
    border: 2px solid rgba(133, 133, 133, 0.75);
}

.orbitron-font {
    font-family: Orbitron;
}

.shinny-height {
    height: 50%;
}

.banner-text {
    text-shadow: 0 4px 2px rgba(0,0,0,.6);
    font-size: 2.6vmax;
}

.logo-text {
    font-size: 1.3vmax;
}

.dev-text {
    font-size: 1.0vmax;
}

.action-text {
    font-size: 1.3vmax;
}

.about-text {
    text-shadow: 0 4px 2px rgba(0,0,0,.6);
    font-size: 1.8vmax;
}

.btn-ecrou {
    border-color:#f49f64; 
    background-color:#f49f64;
}

span.line {
    display: inline-block;
}

/* Mobile */
@media screen and (max-width: 576px) {
    .mobile-margin {
        margin: 0 3%;
    }

    .shinny-height {
        height: 35%;
    }
}

/* Tablet */
@media screen and (max-width: 768px) {
}