html, body {
    height:100%;
}


/* .carousel {
    margin-bottom: 60px;
} */

.carousel-caption {
    z-index: 10;
}

.carousel .item {
    background-color: #777;
}

#carousel-overlay-div {
    position: absolute;
}

#carousel-overlay-div > .carousel-overlay {
    position: absolute;
    /* left:4%; */
    z-index:1;
}

.white-text {
    color: white;
}

.black-text {
    color: black;
}

.moderate-text {
    font-size: 1.4vmax;
}

.small-text {
    font-size: 1.2vmax;
}

.rounded-corners {
    border-radius: 20px 20px 5px 5px;
    border: 2px solid rgba(133, 133, 133, 0.75);
}

.orbitron-font {
    font-family: Orbitron;
}

.shinny-height {
    height: 50%;
}

@media screen and (max-width: 576px) {
    .mobile-margin {
        margin: 0 3%;
    }

    .shinny-height {
        height: 30%;
    }    

    /* .shinny-text {
        font-size: 1vmax;
    } */
}

@media screen and (max-width: 768px) {
    .small-text {
        font-size: 1.8vmax;
    }

    .smaller-text-mobile {
        font-size: 1.4vmax;
    }
}